@import url('_variables.css');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--color-primary);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  background-color: var(--color-light);
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--color-secondary);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.card {
  border: 1px solid rgba(0,0,0,0.1);
}

.navbar {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.alert {
  border-radius: var(--border-radius);
}
